<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&family=Jersey+15&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    
    <title>GameSage</title>
</head>
<body>
    <div id="particles-js"></div> 
    <div class="container" >
        <div class="content-wrapper">
            <h1 class="header"> GameSage</h1>
            <!-- <img src="/img/games.png" alt=""> -->
            <p class="description">Looking for your next game? Game Sage is your ultimate video game recommendation engine. Simply choose a genre, and let us help you discover your next favorite game to play!</p>
            <a href="/genres">
                <button class="genre-btn">View Game Genres</button>
            </a>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', '/particles.json');
    </script>
</body>

</html>