body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, #ff7e5f, #feb47b);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Jersey 15", serif;
}
.container{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-wrapper{
    min-height: fit-content;
    width: 350px;
    background: linear-gradient(0deg, #f5e7ff, #b74bef); 
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 25px 0 25px 0;
    opacity: 0; 
    animation: .75s ease-in-out .25s rotate,
    glow 2s infinite ease-in-out ;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    from {
        transform: rotate();
        opacity: 0; 
    }

    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes glow {
    0% {
      box-shadow: 0 0 5px #9b4de1  , 0 0 10px #9b4de1  , 0 0 15px #9b4de1  ;
    }
    50% {
      box-shadow: 0 0 20px #f174be, 0 0 30px #b74bef, 0 0 40px #f174be;
    }
    100% {
      box-shadow: 0 0 5px #b74bef , 0 0 10px #b74bef , 0 0 15px #b74bef ;
    }
  }
#cover{
    height: 60%;
    width: 55%;
}
.description{
    line-height: 1.2rem;
    font-size: 1.2rem;
}
#rating{
    font-family: 1.2rem;
}

#return-btn{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    font-size: 1.2rem;
    height: 35px;
    font-family: "Jersey 15", serif;
    background-color: hsl(280, 84%, 62%);
    color: white;
    margin-bottom: 15px;
}

#return-btn:hover{
    background-color: hsl(280, 84%, 52%);
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.5);
}
#particles-js {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;  
    height: 100vh;
    z-index: -1;   
}