
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, #ff7e5f, #feb47b); 
    background-repeat: no-repeat;
    font-family: "Jersey 15", serif;
    margin: 0;
    background-attachment: fixed;

}
.header{
    text-align: center;
    font-size: 2rem;
    animation: rotate 3s ease 2s infinite alternate-reverse;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(-5deg); 
    }
}

.genre-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    font-size: 1.2rem;
}
a{
    height: 250px;
    width: 20%;
    margin: 10px;
    text-decoration: none;
}

.genre-content-wrapper{
    height: 250px;
    width: 20%;
    position: absolute;
    border-radius: 5px;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Apply the shadow */
    color: black;
    font-weight: bold;
    perspective: 1000px;
    opacity: 0; 
    animation: appear 1s ease-in 1 forwards; 
}
.genre-content-wrapper:hover .card-inner {
    transform: rotateY(180deg);
  }
@keyframes appear{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
        transform: scale(1.2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease; 
}


.card-front{
    position: absolute;
    background: linear-gradient(180deg, #f5e7ff, #b74bef); 
    height: 100%;
    width: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}
.card-front p{
    padding: 0 10px 0 10px;
}
.card-back{
    position: absolute;
    background: linear-gradient(0deg, #f5e7ff, #b74bef);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

#particles-js {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;  
    height: 100vh;
    z-index: -1;   
}